.title {
    font-size: 48px;
}

.description {
    font-size: 18px;
}

.block {
    text-align: center;

    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}